<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="SejmCalendar.Blazor.styles.css" />
    <HeadOutlet />
    <link rel="canonical" href="https://sejmcalendar.azurewebsites.net/" />
    <meta property="og:title" content="Kalendarz Sejmowych Urodzin" />
    <meta property="description" content="Kalendarz z urodzinami posłów i posłanek Sejmu RP." />
    <meta property="og:description" content="Kalendarz z urodzinami posłów i posłanek Sejmu RP." />
    <meta property="og:image" content="siteimage.png" />
    <meta property="og:image:alt" content="Kalendarz Sejmowych Urodzin - Sprawdź kiedy mają urodziny twoi ulubieni posłowie i posłanki" />
    <meta property="og:locale" content="pl_PL" />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="siteimage.png" />
    <link rel="icon" href="favicon.svg" type="image/svg" />
    <link rel="shortcut icon" href="favicon.svg" />
</head>

<body data-bs-theme="dark">
    <Routes />
    <script src="_framework/blazor.web.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>

</html>
