@page "/"

<PageTitle>Kalendarz Sejmowych Urodzin</PageTitle>
<div class="container text-center">
    <h1 class="display-1">Kalendarz Sejmowych Urodzin</h1>
    <p class="lead">Sprawdź kiedy mają urodziny twoi ulubieni posłowie i posłanki</p>
</div>

